# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# VSCode / IDE configs
.vscode/
.idea/

# Alembic migrations cache
alembic/__pycache__/
alembic/*.pyc

# Ignore alembic SQLite history (если используешь SQLite для локалки)
alembic/versions/*.pyc

# Log files
*.log

# pytest
.pytest_cache/
.coverage
htmlcov/

# MyPy / typing
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.manifest
*.spec

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Build
build/
dist/
*.egg-info/

# Local databases
*.db
*.sqlite3

# System files
.DS_Store
Thumbs.db

/media/